 <%-include('header')%>

<div class="container">
<div class="row">
<div style="margin:0 auto ;width:30%">
  <h4 style="text-align:center">Add new Campsite</h4>
   <form action="/campgrounds/new" method="post">
     <div class="form-group">
	  <label for="name" style="text-align:center;width:100%" >Name</label>
		<input class="form-control" type="text" name="name" placeholder="name" aria-describedby="name" >
		  </div>
		 <div class="form-group"> 
		  <label for="image" style="text-align:center;width:100%">Image</label>
    <input class="form-control" type="text" name="image" placeholder="image">
   <button style="text-align:center;margin-left:40%;margin-top:10px" class="btn btn-primary">Submit</button>
     </div>
   </form>
 </div>
</div> 
</div> 
<%-include('footer')%>
