<h1>register</h1>
<form action="/admin/register" method="post">
<div>
<label for ="name">name</label>
<input type="text" id="name" name="name" required>
</div>
<div>
<label for ="email">email</label>
<input type="text" id="email" name="email" required>
</div>
<div>
<label for ="password">password</label>
<input type="text" id="password" name="password" required>
</div>
<div>
<input type="submit">register</input>
</div>
</form>
<a href="/admin/register">Login</a>
<a href="/admin">Login</a>