<h1>register</h1>
<form action="/admin/login" method="POST">
<div>
<label for ="name">name</label>
<input type="text" id="name" name="name"  value="<%=name%>"required>
</div>
<div>
<label for ="email">email</label>
<input type="text" id="email" name="email"  value="<%=email%>"  required>
</div>
<div>
<label for ="password">password</label>
<input type="text" id="password" name="password"  value="<%=password%>"required>
</div>
<div>
<button type="submit">register</button>
</div>
</form>
<a href="/login">Login</a>